<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Top Mascots</h1>
            <p><%= e %></p>
            <ul>
                <% m.forEach(function(animalitos) { %>
                    <li>
                        <strong><%= animalitos.name %></strong>
                        representing <%= animalitos.organization %>, born <%= animalitos.birth_year %>
                    </li>
                <% }); %>
            </ul>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>