<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Nuestros Servicios</h1>
            <table id="example" class="table table-striped text-center">
                <thead>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Duración (min)</th>
                    <th>Precio</th>
                    <th>Categoría</th>
                    <th>Acción</th>
                </thead>
                <tbody>
                    <% servicios.forEach(function(servicio) { %>
                    <tr>
                        <td><%= servicio.nombre %></td>
                        <td><%= servicio.descripcion %></td>
                        <td><%= servicio.duracionMinutos %></td>
                        <td>$<%= servicio.precio %></td>
                        <td><%= servicio.categoria %></td>
                        <td>
                            <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#modalVer" onclick="modalVer('<%=servicio.nombre%>','<%=servicio.descripcion%>','<%=servicio.duracionMinutos%>','<%=servicio.precio%>','<%=servicio.categoria%>')">Ver detalle</button>
                            <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#modalEditar">Editar</button>
                            <button type="button" class="btn btn-danger">Eliminar</button>
                        </td>
                    </tr>

                    <div class="modal" id="modalVer">
                        <div class="modal-dialog">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Ver detalle de servicio</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                            <div class="modal-body">
                                <form action="/api/v1/servicios" method="POST">
                                    <div class="mb-3">  
                                        <label for="exampleInputEmail1" class="form-label">Nombre</label>
                                        <input type="text" class="form-control" id="nombreV" name="nombre" readonly>
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleInputEmail1" class="form-label">Descripción</label>
                                        <input type="text" class="form-control" id="descripcionV" name="descripcion" readonly>
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleInputEmail1" class="form-label">Duración (min)</label>
                                        <input type="text" class="form-control" id="duracionV" name="duracionMinutos" readonly>
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleInputEmail1" class="form-label">Precio</label>
                                        <input type="text" class="form-control" id="precioV" name="precio" readonly>
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleInputEmail1" class="form-label">Categoría</label>
                                        <input type="text" class="form-control" id="categoriaV" name="categoria" readonly>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                            </div>
                            </div>
                        </div>
                    </div>

                    <% }); %>
                </tbody>
            </table>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

    <script>
        function modalVer(nombre, descripcion, duracionMinutos, precio, categoria){
            document.getElementById('modalVer').style.display = 'block';
            document.getElementById('nombreV').value = nombre;
            document.getElementById('descripcionV').value = descripcion;
            document.getElementById('duracionV').value = duracionMinutos;
            document.getElementById('precioV').value = precio;
            document.getElementById('categoriaV').value = categoria;
        }
    </script>
</body>
</html>
